<form class="border rounded-[10px] mb-2 p-2 w-[70%] mx-auto">
  <div class="flex flex-col">
    <label for="text" class="text-lg text-cyan-600">Task</label>
    <input
      type="text"
      name="text"
      id="text"
      placeholder="Add task"
      class="border border-cyan-700 rounded-[10px] px-2 py-1"
    />
  </div>
  <div class="flex flex-col">
    <label for="day" class="text-lg text-cyan-600">Day & Time</label>
    <input
      type="text"
      name="day"
      id="day"
      placeholder="Add Day & Time"
      class="border border-cyan-700 rounded-[10px] px-2 py-1"
    />
  </div>
  <div class="flex flex-col">
    <label for="reminder" class="text-lg text-cyan-600">Set Reminder</label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      class="border border-cyan-700 rounded-[10px] px-2 py-1 w-4 h-4"
    />
  </div>
  <button type="submit">Add tasks</button>
</form>
