<header class="sticky top-0 z-40">
    <div class="flex  items-center justify-between bg-teal-700 px-5 ">
      <h3 class="font-bold text-xl text-teal-50 font-serif">NewSite</h3> 
        <nav>
            <ul class="flex p-4 gap-3 text-xs text-slate-800 ">
                <li><a routerLink="#" >Help</a> </li>
                <li><a routerLink="#" >Exchange & Returns</a></li>
                <li><a routerLink="#" >OrderTracker</a> </li>
                <li><a routerLink="#" >SingUp/Login</a></li>
                
            </ul>
        </nav>
    </div>
</header>
