<div
  class="relative text-teal-50 border border-gray-600 wrap p-3 cursor-pointer hover:scale-[1.04]"
>
  <div class="absolute top-4 left-5 z-50">
    <fa-icon
      [ngStyle]="{ color: 'gray' }"
      [icon]="faHeart"
      class="cursor-pointer"
    ></fa-icon>
  </div>
  <div class="relative">
    <div class="h-[270px]">
      <img
        [src]="product.imageURL"
        class="relative h-full w-full"
        height="190"
        width="190"
      />
    </div>
    <div
      class="text-gray-900 font-bold absolute top-4 -right-3 bg-orange-400 p-1"
      *ngIf="product.discountPrice"
    >
      {{ (100 - (product.discountPrice / product.price) * 100).toFixed(0) }} %
      Off
    </div>
    <div class="absolute bottom-0 text-white-800 bg-slate-800 px-2 text-xl">
      {{ product.price }} $
    </div>
  </div>

  <div class="text-gray-900 text-base font-bold">{{ product.name }}</div>
  <div class="text-white/[0.6]">
    {{ product.gender }} . {{ product.category }} . {{ product.brand }}
  </div>
  <div class="text-white/[0.6]">
    {{ product.color.length }} Colors . Best Seller
  </div>
  <div
    [ngStyle]="{
      fontWeight: 'bold',
      color: product.is_in_inventory ? '#86efac' : '#fda4af'
    }"
  >
    {{
      product.is_in_inventory ? "Available in Stock" : "Not available in stock"
    }}
  </div>
</div>
