/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&family=Permanent+Marker&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Alegreya;
}


$sc_color: #22d3ee;
* {
  scrollbar-width: thin;
  scrollbar-color: rgba($sc_color, 0.3) rgba($sc_color, 0.6);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba($sc_color, 0.3);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba($sc_color, 0.6);
  border-radius: 3px;
}

:root {
  font-family: 'Poppins', 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
